<template name="watchList">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}
  
  {{#contentFor "headerButtonRight"}}
{{> atNavButton}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">China A Stocks</h1>
  {{/contentFor}}
  

  
  
    {{#ionView}}
	

	
	
    {{#ionSubheaderBar}}	
      <h2 class="title">
<div class="row">
<div class="col">Name</div>
<div class="col" style="text-align:right">Price</div>
<div class="col">Date</div>
<div class="col">&nbsp;</div>
</div>	  
	  </h2>
    {{/ionSubheaderBar}}	
	
    {{#ionContent}}

<!-- search -->	
{{> stockSearch }}

      {{#ionList}}	  
        {{#each list}} 
    {{#ionItem path="stockInfo" iconLeft=true iconRight=true}}
<div class="row">
<div class="col">{{name}}</div>
<div class="col" style="text-align:right">¥{{current}}</div>
<div class="col item-note">{{formatTime lastUpdate}}</div>
<div class="col">
      <button class="button button-positive">
        Buy Now
      </button>
</div>
</div>
    {{> ionIcon icon="ios-arrow-right" class="positive"}}
    {{/ionItem}}
        {{/each}}	  	

      {{/ionList}}
	      {{#if nextPath}}
              <a class="load-more" href="{{nextPath}}">Load more</a>
	      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>