
<template name="notifications">
  <div style="background-color: grey;">
  <h3>test if this is working or not</h3>
  <li>test data</li>
  <li>test data</li>
  <li>test data</li>
  <li>test data</li>
  <li>test data</li>
  <li>test data</li>
  <li>test data</li>
  <li>test data</li>
<!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown"> -->
    Notifications
    {{#if notificationCount}}
      <span class="badge badge-inverse">{{notificationCount}}</span>
    {{/if}}
    <b class="caret"></b>
<!--   </a> -->

    {{#if notificationCount}}
      {{#each notifications}}
        {{> notificationItem}}
      {{/each}}
    {{else}}
      <li><span>No Notifications</span></li>
    {{/if}}
  </div>

</template>

<template name="notificationItem">
  <li>
    <a href="/posts" class="link">
      <strong>{{fromUserId}}</strong> commented on your post
    </a>
  </li>
</template>
