<template name="instantMessageList">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}
  
  {{#contentFor "headerButtonRight"}}
{{> atNavButton}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Messages</h1>
  {{/contentFor}}
  
  
    {{#ionView}}
	
    {{#ionSubheaderBar}}	

    {{/ionSubheaderBar}}	
	
    {{#ionContent}}

      {{#ionList}}	  
        {{#each list}} 
    {{#ionItem path="instantMessage" iconLeft=true iconRight=true}}
<div class="row">
<div class="col">{{_id}}</div>
<div class="col item-note">{{formatTime lastUpdateDate}}</div>
</div>
    {{> ionIcon icon="ios-arrow-right" class="positive"}}
    {{/ionItem}}
        {{/each}}	  		
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>