

<template name ="postmain">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Posts</h1>
  {{/contentFor}}

  {{#if currentUser}}
    {{#if authorized}}
 postform : <label class="item item-input" style = "{position: inline-block; margin-top: 5px; width:100%; clear:both; float:top;}">
        <input type="textarea" id="posttext" style="height: 35px;" placeholder="put your posts here">
   </label>
   <!-- <a href=Router.go('postmain', {name: 'foo'}, {query: 'id=bar'}) >friend link</a> -->
   <a href="/postmain/YhYC8xcSzgn2e5udX" >friend link</a>
    {{/if}}
  {{/if}}

          <div style="background-color: white">
            {{#each postcoll}}
              {{> postcollections}}
            {{/each}}
          </div>

</template>

<template name="postcollections">
  post : <div style="background-color: grey;"> {{content}} : {{date}} </div>
    <!-- {{#if single}}
      {{#each postcomsingle}}
        {{> postcomments}}
      {{/each}}
    {{else}} -->
    {{#each postcom}}
      {{> postcomments}}
    {{/each}}
  <!--  {{/if}} -->


  <input type="button" value="Load More" id="loadmore">
  <!-- {{#if currentUser}} -->
 comment form:<!-- <label class="item item-input" style = "{position: fixed; margin-top: 50px; width:100%; clear:both; float:top;}"> -->
      <input type="textarea" class="commenttext" style="height: 30px;" placeholder ="put your comment here">
      <!--  </label> -->
  <!-- {{else}}
  please login to put comment
  {{/if}} -->
</template>

<template name="postcomments">
  comment :<div style="background-color: grey;"> {{content}} </div>
</template>
