<template name="home">
  {{#if currentUser}}
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}
  {{/if}}


  {{#contentFor "headerButtonRight"}}
{{> atNavButton}}
  {{/contentFor}}


  {{#contentFor "headerTitle"}}
    <h1 class="title">Home</h1>
  {{/contentFor}}

    {{#ionView}}

    {{#ionSubheaderBar}}

    {{/ionSubheaderBar}}

    {{#ionContent}}


 Welcome to Listen

    {{/ionContent}}
  {{/ionView}}
</template>
