<template name="stockInfo">
    <p><h3>{{ name_cn }} ({{ stockCode }})</h3></p><br><br><br><br>
	<table class="table table-striped">
	<tbody>
	<tr>
	<th nowrap>公司名称：</th><td>{{ name_cn }}</td>
	</tr>
	</tbody>
	<tbody>
	<tr>
	<th nowrap>英文名称：</th><td>{{ name_en }}</td>
	</tr>
	</tbody>
	<tbody>
	<tr>
	<th nowrap>所属地域：</th><td>{{ location }}</td>
	</tr>
	</tbody>
	<tbody>
	<tr>
	<th nowrap>所属行业：</th><td>{{ industry }}</td>
	</tr>
	</tbody>
	<tbody>
	<tr>
	<th nowrap>公司网址：</th><td>{{{ website }}}</td>
	</tr>
	</tbody>
	<tbody>
	<tr>
	<th nowrap>主营业务：</th><td>{{ business }}</td>
	</tr>
	</tbody>
	<tbody>
	<tr>
	<th nowrap>控股股东：</th><td>{{ holder_main }}</td>
	</tr>	
	</tbody>
	<tbody>
	<tr>
	<th nowrap>实际控制人：</th><td>{{ holder_actual }}</td>
	</tr>		
	</tbody>
	<tbody>
	<tr>
	<th nowrap>最终控制人：</th><td>{{ holder_final }}</td>
	</tr>	
	</tbody>
	<tbody>
	<tr>
	<th nowrap>董事长：</th><td>{{ chairman }}</td>
	</tr>
	</tbody>
	<tbody>
	<tr>
	<th nowrap>董　　秘：</th><td>{{ secretary }}</td>
	</tr>
	</tbody>
	<tbody>
	<tr>
	<th nowrap>法人代表：</th><td>{{ legal }}</td>
	</tr>	
	</tbody>
	<tbody>
	<tr>
	<th nowrap>总 经 理：</th><td>{{ gmanager }}</td>
	</tr>	
	</tbody>
	<tbody>
	<tr>
	<th nowrap>注册资金：</th><td>{{ capital }}</td>
	</tr>	
	</tbody>
	<tbody>
	<tr>
	<th nowrap>员工人数：</th><td>{{ num_of_employee }}</td>
	</tr>	
	</tbody>
	<tbody>
	<tr>
	<th nowrap>电　　话：</th><td>{{ phone }}</td>
	</tr>	
	</tbody>
	<tbody>
	<tr>
	<th nowrap>传　　真：</th><td>{{ fax }}</td>
	</tr>	
	</tbody>
	<tbody>
	<tr>
	<th nowrap>邮      编：</th><td>{{ postal_code }}</td>
	</tr>	
	</tbody>
	<tbody>
	<tr>
	<th nowrap>办公地址：</th><td>{{ address }}</td>
	</tr>	
	</tbody>
	<tbody>
	<tr>
	<th nowrap>公司简介：</th><td>{{ introduction }}</td>
	</tr>		
	</tbody>
	
	</table>
	

</template>